<% if @backdrop_path.present? %>
  <div style="
    background-image: url('https://image.tmdb.org/t/p/w1280<%= @backdrop_path %>');
    background-size: cover;
    background-position: center;
    height: 300px; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  ">
    <h1 style="text-shadow: 2px 2px 4px rgba(0,0,0,0.8);">
      <%= @movie.title %>
    </h1>
  </div>
<% else %>
<% end %>



<h1><%= @movie.title %></h1>
<% if @movie.poster_path.present? %>
  <%= image_tag "https://image.tmdb.org/t/p/w185#{@movie.poster_path}", alt: @movie.title, class: "img-fluid" %>
<% else %>
  <p>No poster available</p>
<% end %>


<h2>Box Office Data</h2>
<table>
  <tr>
    <th>Budget</th>
    <td><%= number_to_currency(@movie.budget, precision: 0) %></td>
  </tr>
  <tr>
    <th>Revenue</th>
    <td><%= number_to_currency(@movie.revenue, precision: 0) %></td>
  </tr>
  <tr>
    <th>Opening Weekend Box Office</th>
    <td><%= number_to_currency(@movie.open_wknd_BO, precision: 0) %></td>
  </tr>
  <tr>
    <th>Domestic Box Office</th>
    <td><%= number_to_currency(@movie.domestic_BO, precision: 0) %></td>
  </tr>
  <tr>
    <th>International Box Office</th>
    <td><%= number_to_currency(@movie.intl_BO, precision: 0) %></td>
  </tr>
  <tr>
    <th>Total Box Office</th>
    <td><%= number_to_currency(@movie.total_BO, precision: 0) %></td>
  </tr>
  <tr>
    <th>Opening Weekend # of Theaters</th>
    <td><%= @movie.open_wknd_theaters %></td>
  </tr>

  <tr>
    <th>Domestic Distributor</th>
    <td><%= @movie.distributor %></td>
  </tr>
  
</table>
