<h1><%= @company.company_name %></h1>

<!-- Display the company logo if available -->
<% if @company.logo_path.present? %>
  <%= image_tag "https://image.tmdb.org/t/p/w185#{@company.logo_path}", alt: @company.company_name %>
<% else %>
<% end %>

<!-- Display movies associated with this company -->
<h2>Logged Movies produced by <%= @company.company_name %>:</h2>

<% if @movies.any? %>
  <ul>
    <% @movies.each do |movie| %>
      <li>
        <%= link_to movie.title, movie_path(movie) %> <!-- Assuming you have a movie show page -->
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No movies found for this company.</p>
<% end %>


<h2>Additional Movies Produced by <%= @company.company_name %>:</h2>

<% if @api_movies.any? %>
  <ul>
    <% @api_movies.each do |movie| %>
      <li>
        <%= movie["title"] %> - Released: <%= movie["release_date"] %>
       <!-- <% if movie["poster_path"].present? %> -->
       <!--  <img src="https://image.tmdb.org/t/p/w200<%= movie["poster_path"] %>" alt="<%= movie["title"] %> Poster"> -->
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No additional movies found from TMDB for this company.</p>
<% end %>
