<!DOCTYPE html>
<html>
  <head>
    <%# Replace with your application name %>
    <title>Starter App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <p>
      <% @user = User.find_by({ "id" => session["user_id"] }) %>
      <% if @user == nil %>
        <a href="/users/new">Sign Up</a> | <a href="/login">Login</a>
      <% else %>
        <%= @user["real_name"] %> | <a href="/logout">Logout</a>
      <% end %>
    </p>
    <p>
    <!-- Navigation Bar with Buttons -->
    <nav class="nav-buttons">
      <%= link_to "Logged Movies", "/logged_movies", class: "nav-button" %>
      <%= link_to "Companies","/companies",class: "nav-button"%>
      <%= link_to "Trends","/trends", class: "nav-button"%>
    </nav>
    </p>
    <p>
      <%= flash["notice"] %>
    </p>

    <%= yield %>
  </body>
</html>
